@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: #2c3e50;
  background: -webkit-linear-gradient(to top, #3498db, #2c3e50);
  background: linear-gradient(to top, #3498db, #2c3e50);
}

.container {
  margin: auto;
  width: 1280px;
  min-height: 100vh;
}

.puzzle-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 1fr;
}

.title {
  text-align: center;
  padding: 30px 0px 60px 0px;
  color: #94e5f2;
  font-size: 56px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #94e5f2;
  letter-spacing: 4px;
}
#puzzle-container {
  width: 600px;
  height: 600px;
  border: 1px solid #9ca0db;
  margin: auto;
  position: relative;
  grid-row: 1/3;
}
.puzzle-item {
  border: 1px solid #9ca0db;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6em;
  color: #dfc2ff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #eddbff;
  background-color: #575b8f;
}
.puzzle-item:hover {
  cursor: pointer;
}

.controls {
  border: #2c3e50;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 15px;
  border-radius: 25px;
  background-color: #575b8f;
  color: #94e5f2;
  font-size: 1em;
  border: 1px solid #94e5f2;
}
button:hover {
  cursor: pointer;
}

#size-field {
  padding: 8px 15px;
  border-radius: 25px;
  background-color: #575b8f;
  width: 90px;
  color: #94e5f2;
  font-size: 1em;
  border: 1px solid #94e5f2;
}
.last-score {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.last-score__title {
  color: #94e5f2;
  font-size: 1.3em;
  letter-spacing: 3px;
  text-align: center;
}
.last-score__field {
  width: 99%;
  height: 100%;
  background-color: #94e5f2;
  border-radius: 20px;
  padding: 30px 55px;
  font-size: 1.2em;
  color: #2d455b;
}

.result {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #94e5f2;
  font-size: 1.3em;
}
.puzzle-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 1279px) {
  .container {
    width: 100%;
    padding: 0px 20px;
  }
  .puzzle-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 450px;
    gap: 30px;
  }
  .controls {
    grid-row: 1/2;
  }
  #puzzle-container {
    grid-row: 2/3;
  }
}
@media only screen and (max-width: 680px) {
  .container {
    padding: 0px 5px;
  }
  .title {
    font-size: 42px;
  }
  button {
    font-size: 0.9em;
  }
  #puzzle-container {
    width: 300px;
    height: 300px;
  }
  .controls {
    flex-wrap: wrap;
    gap: 15px;
  }
  .result {
    font-size: 1em;
  }
  .puzzle-wrapper {
    grid-template-rows: 140px 1fr 300px;
    gap: 15px;
  }
  .last-score__field {
    font-size: 1em;
    padding: 15px 30px;
  }
}
